body
{
	background-color: black;
	color: white;
	font-family: Helvetica;
}

h1
{
	font-size: 72px
}

h2
{
	font-size: 2em;
}

p
{
	text-align: center;
	font-size: 24px;
}

a:link {
  color: #55CDFC;
}

a:visited {
  color: #F7A8B8;
}

a:hover {
  color: #F7A8B8;
}

a:active {
  color: white;
} 

.logo
{
	float: left;
	margin-left: 10px;
	width: 150px;
	height: 150px;
}

.gameicon
{
	margin-top: 10px;
	width: 20%;
}

.site-directory
{
	float: left;
	border-style: solid;
	margin-left: 5px;
	width: 240px;
}

.top-banner
{
	display: block;
	padding-left: 50px;
	height: 150px;
	white-space: nowrap;
	overflow: hidden;
}